In [1]:
import pandas as pd

acc = pd.read_csv("Accelerometer.csv")
gyr = pd.read_csv("Gyroscope.csv")

activity = pd.DataFrame(columns= ["X (m/s^2)","Y (m/s^2)","Z (m/s^2)", "X (rad/s)", "Y (rad/s)", "Z (rad/s)"])

In [2]:
activity

Empty DataFrame
Columns: [X (m/s^2), Y (m/s^2), Z (m/s^2), X (rad/s), Y (rad/s), Z (rad/s)]
Index: []

In [3]:
acc

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2)
0,0.004061,5.550750,-4.864010,7.323234
1,0.014074,5.713462,-4.782654,7.308877
2,0.024064,5.689534,-4.662415,7.399804
3,0.034027,5.474180,-4.624130,7.466803
4,0.044017,5.105087,-4.729414,7.505686
...,...,...,...,...
3008,29.897915,5.148158,-3.287738,7.864610
3009,29.907853,5.823532,-3.105286,7.677969
3010,29.917791,6.273981,-2.976073,7.596614
3011,29.927743,6.432506,-3.163311,7.864610
3012,29.937682,6.226124,-3.665804,8.075776

In [4]:
gyr

       Time (s)  Gyroscope x (rad/s)  Gyroscope y (rad/s)  Gyroscope z (rad/s)
0      0.073563             0.007323             0.067642             0.067376
1      0.083405             0.015845             0.069773             0.066311
2      0.093395             0.037150             0.060186             0.045006
3      0.103385             0.068042             0.058055             0.016245
4      0.113241             0.091477             0.058055            -0.005060
...         ...                  ...                  ...                  ...
3008  29.967204             0.150065            -0.208253            -0.211715
3009  29.977142             0.168174            -0.190144            -0.178693
3010  29.987086             0.187348            -0.178427            -0.138214
3011  29.997024             0.195870            -0.157122            -0.113714
3012  30.006962             0.174565            -0.139013            -0.123301

[3013 rows x 4 columns]

In [5]:
activity['X (m/s^2)'] = acc['Acceleration x (m/s^2)'].values
activity['Y (m/s^2)'] = acc['Acceleration y (m/s^2)'].values
activity['Z (m/s^2)'] = acc['Acceleration z (m/s^2)'].values
activity['X (rad/s)'] = gyr['Gyroscope x (rad/s)'].values
activity['Y (rad/s)'] = gyr['Gyroscope y (rad/s)'].values
activity['Z (rad/s)'] = gyr['Gyroscope z (rad/s)'].values

activity["Subject"] = 3
activity["Activity"] = "Pushups"

In [6]:
activity

,X (m/s^2),Y (m/s^2),Z (m/s^2),X (rad/s),Y (rad/s),Z (rad/s),Subject,Activity
0,5.550750,-4.864010,7.323234,0.007323,0.067642,0.067376,3,Pushups
1,5.713462,-4.782654,7.308877,0.015845,0.069773,0.066311,3,Pushups
2,5.689534,-4.662415,7.399804,0.037150,0.060186,0.045006,3,Pushups
3,5.474180,-4.624130,7.466803,0.068042,0.058055,0.016245,3,Pushups
4,5.105087,-4.729414,7.505686,0.091477,0.058055,-0.005060,3,Pushups
...,...,...,...,...,...,...,...,...
3008,5.148158,-3.287738,7.864610,0.150065,-0.208253,-0.211715,3,Pushups
3009,5.823532,-3.105286,7.677969,0.168174,-0.190144,-0.178693,3,Pushups
3010,6.273981,-2.976073,7.596614,0.187348,-0.178427,-0.138214,3,Pushups
3011,6.432506,-3.163311,7.864610,0.195870,-0.157122,-0.113714,3,Pushups
3012,6.226124,-3.665804,8.075776,0.174565,-0.139013,-0.123301,3,Pushups

In [7]:
activity.to_csv('yannickPushups.csv', index=False)