In [8]:
import pandas as pd

acc = pd.read_csv("Accelerometer.csv")
gyr = pd.read_csv("Gyroscope.csv")

activity = pd.DataFrame(columns= ["X (m/s^2)","Y (m/s^2)","Z (m/s^2)", "X (rad/s)", "Y (rad/s)", "Z (rad/s)"])

In [9]:
activity

Empty DataFrame
Columns: [X (m/s^2), Y (m/s^2), Z (m/s^2), X (rad/s), Y (rad/s), Z (rad/s)]
Index: []

In [10]:
acc

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2)
0,0.002427,0.242273,-9.329018,-2.680560
1,0.012416,-0.437887,-7.475178,-0.950549
2,0.022395,0.055633,-4.691129,1.344168
3,0.032384,0.898505,-2.224129,2.211566
4,0.042370,1.909472,-0.628714,1.258026
...,...,...,...,...
3009,29.906347,1.176671,-0.911067,-0.897907
3010,29.916285,0.544367,0.162114,-0.663410
3011,29.926223,-0.351745,1.173081,-0.859622
3012,29.936161,-1.467997,1.853241,-1.434497
3013,29.946099,-2.364109,2.039881,-2.100300

In [11]:
gyr

       Time (s)  Gyroscope x (rad/s)  Gyroscope y (rad/s)  Gyroscope z (rad/s)
0      0.071928            -1.081345            -0.532084             0.226096
1      0.081917            -1.020626            -0.550193             0.252727
2      0.091752            -0.647795            -0.635412             0.259118
3      0.101742            -0.133287            -0.618368             0.167508
4      0.111731            -0.003329            -0.487344             0.128094
...         ...                  ...                  ...                  ...
3009  29.975605            -0.267507            -0.209318             0.386946
3010  29.985543            -0.281355            -0.249797             0.424362
3011  29.995485            -0.314377            -0.275363             0.424362
3012  30.005423            -0.350595            -0.228492             0.432884
3013  30.015361            -0.383617            -0.103860             0.448863

[3014 rows x 4 columns]

In [14]:
activity['X (m/s^2)'] = acc['Acceleration x (m/s^2)'].values
activity['Y (m/s^2)'] = acc['Acceleration y (m/s^2)'].values
activity['Z (m/s^2)'] = acc['Acceleration z (m/s^2)'].values
activity['X (rad/s)'] = gyr['Gyroscope x (rad/s)'].values
activity['Y (rad/s)'] = gyr['Gyroscope y (rad/s)'].values
activity['Z (rad/s)'] = gyr['Gyroscope z (rad/s)'].values

activity["Subject"] = 3
activity["Activity"] = "Jumping"

In [15]:
activity

,X (m/s^2),Y (m/s^2),Z (m/s^2),X (rad/s),Y (rad/s),Z (rad/s),Subject,Activity
0,0.242273,-9.329018,-2.680560,-1.081345,-0.532084,0.226096,3,Jumping
1,-0.437887,-7.475178,-0.950549,-1.020626,-0.550193,0.252727,3,Jumping
2,0.055633,-4.691129,1.344168,-0.647795,-0.635412,0.259118,3,Jumping
3,0.898505,-2.224129,2.211566,-0.133287,-0.618368,0.167508,3,Jumping
4,1.909472,-0.628714,1.258026,-0.003329,-0.487344,0.128094,3,Jumping
...,...,...,...,...,...,...,...,...
3009,1.176671,-0.911067,-0.897907,-0.267507,-0.209318,0.386946,3,Jumping
3010,0.544367,0.162114,-0.663410,-0.281355,-0.249797,0.424362,3,Jumping
3011,-0.351745,1.173081,-0.859622,-0.314377,-0.275363,0.424362,3,Jumping
3012,-1.467997,1.853241,-1.434497,-0.350595,-0.228492,0.432884,3,Jumping
3013,-2.364109,2.039881,-2.100300,-0.383617,-0.103860,0.448863,3,Jumping

In [16]:
activity.to_csv('yannickJumps.csv')